body {

  background-color: #FCD2B5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.signInForm{
	text-align: center;
}


form{
		background-color: #F7E2C9;
	    border-radius: 8px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
		width: 400px;
		height: 600px;
		padding:20px;
		text-align: center;
	    position: relative;
}

.fname,
.lname,
.username,
.email,
.address,
.passwordSignIn{
	 width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
	background-color: #F2F4F5
	
}

#logo1{
	position: fixed;
	display: flex;
	padding: 40px 40px;
	box-sizing: content-box;
       }
.signIn{
	background-color:#FF811B;
    color: rgb(248, 246, 246);
    padding: 5px;
    margin: 8px 0;
	border:1px solid;
    border-radius: 4px;
    width: 50%;
 	font-size: 20px;
	font-family: 'Copperplate', 'Copperplate Gothic Light';
}

.signInForm .closeButton{
	position: absolute;
	top:12px;
	right: 12px;
	color: black;
	cursor: pointer;
	font-size: 34px
}

