* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a:hover {
    color: #FF811B;
}

.userimage {
    width: 40px;
    height: auto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    color: black;
}

ul {
    list-style: none;
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlinks li {
    margin: 0 10px;
    position: relative; 
}

ul li ul.dropdown {
    background: white;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    padding: 5px;
    right: 0;
    min-width: 100%;
    display: none;
    border-radius: 8px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(images/bimage7.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom ;
}

.headercontent{
    
    color:black;
    text-align:center;
    padding: 90px;
    text-shadow: 4px 4px 5px #ddd;
}
.headercontent h2{
    font-size: 8vmin;
}

.myaccount{
    padding:8px 15px;
    background: #FF811B;
    border-radius: 30px;
    color: rgb(248, 246, 246);
  
}
/*about us*/

.about-us {
    
    padding: 20px;
    text-align: center;
    background-color:#FFC99D;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    line-height: 2;
}

/*success stories*/
.mainssBox{
    text-align: center;
    background-color: #F7E2C9 ;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    


}
.Successstories {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

.ssbox {
    width: 450px;
    height: 60%;   
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    line-height: 1.5rem;
}

.ssbox img {
    max-width: 100%;
    height: 50%;
    border-radius: 10%;
    margin-bottom: 10px;
}
.ssbox:hover {
    transform: scale(1.1);
}
footer{
    background-color: #FF811B;
}


.ftr{
    background-color: #fff;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
      box-sizing: border-box;
} 

.ftr-card{
    flex-direction: column;
    width: 30%;
    padding: 70px;

}

.ftr-card:first-child{
    padding-top: 80px;
}

.ftr-card img{
    margin-bottom: 20px;
    
}

.ftr-card img:hover {
    transform: scale(1.1); 
}

.ftr-card h5{
    font-size: 24px;
    margin-bottom: 20px;
 
}
.ftr-card p{
    margin: 10px;
}
.ftr-card:last-child img{
    width: 40px;
    padding: 10px;
    height: 40px;
}
.blogf .ftr{
    background-color:#fcd2b5;
}